vpn.gowo.tv {
    reverse_proxy http://wireguard:5000
}

http://vpn.gowo.tv {
    redir https://vpn.gowo.tv{uri} permanent
}

75.119.130.172:5000 {
    redir https://75.119.130.172:5000{uri} permanent
}
